/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */

html {
  background-color: rgb(236, 238, 241);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/**************** Header **********************/

header {
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #505050;
    align-content: center;
}

#sign-in {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

#sign-in-nav {
  display: inherit;
  flex-direction: column;
  
}

#sign-in-btn {
  float: right;
}

button {
  background-color: rgb(0,119,197);
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(76,76,76);
  color: rgb(255,255,255);
  height: 32px;
  padding: 0 20px;
  font-size: 13.5px;
  cursor: pointer;
}
#lock-img {
  /* background-color: white; */
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/icon-whitelock@3x.png);
  height: 1em;
  width: .8em;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
  margin-right: 4px;
  background-size: contain;
}

#sign-in-btn {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:focus {
  outline: dotted thin;
}

a:visited {
  color: #0077C5;
  
}

li a {
  color: #505050;
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

li a:visited {
  color: #505050;
}

#intuit-name-link {
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  height: 35px;
  width: 118px;
  margin: 20px auto;
}

.fadein {
  animation: fadein 2s ease-in forwards;
  animation-delay: 0s;
}

@keyframes fadein {
  0%   { opacity: 0; }
  50%  {opacity: 0;}
  100% { opacity: 1; }
}

#footer-items > li > a:hover {
  text-decoration: underline;
}

.product {
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 100;
  position: relative;
}

#product-listing {
  margin-bottom: 15px;
}

#product-listing li {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  position: relative;
}

.icon:hover {
  cursor: pointer;
}

#mint-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/mint-favicon-4accf8f4.svg) no-repeat;
}

#quickbooks-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/quickbooks-favicon@2x-c89488e8.svg) no-repeat;
}

#turbotax-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/tt-favicon@2x-fbd64ab8.svg) no-repeat;
}

.left-first {
  position: relative;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.7, 0, 0, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: left-first-anim;
}

@keyframes left-first-anim {
  0%    { left: 142px;
          transform: scale(1)}
  25%   { transform: scale(2)}
  50%   { left: 142px;
          transform: scale(1);
           }
  100%  { left: 0; }

}

.left-after {
  animation-duration: 2.15s;
  animation-timing-function: cubic-bezier(0.7, 0, 0, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: left-after-anim;
}

@keyframes left-after-anim {
  0%    { 
          opacity: 0}
  50%   { left: 50px;
          opacity: 0}
  100%   { left: 0;
           opacity: 100%;
           }
}

/*********************** Form ************************/
form {
  background-color: white;
  margin: 0 auto;
}

fieldset {
  display: flex;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 30px;
  padding-bottom: 33px;
}

#sign-up-create-account {
  font-size: 24px;
  line-height: 26px;
}

#sign-up-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: #4c4c4c;
}

#sign-up-subhed {
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;
}

label {
  padding-bottom: 6px;
  color: #404040;
  font-size: 14px;
  text-align: left;
  display: block;
  line-height: 25px;
}

.text-input {
  width: 320px;
  height: 34px;
  padding: 0 6px 0 8px;
  border-radius: 3px;
  border: 1px solid #c1c5c8;
  line-height: 1.3em;
  font-size: 1.4em;

}

.text-input:focus {
  outline: 0 none;
  border: 1px solid rgba(82,168,236,.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  outline-offset: -2px;
}

#email-wrapper {
  height: auto;
}

#email-error {
  display: block;
  box-sizing: border-box;
  text-align: left;
  color: #eb3432;
  margin: 5px 0;
  visibility: hidden;
  line-height: 1.2em;
  height: 20px;
}

#email-error.visible {
  visibility: visible;
}

.validation-border-change {
  border-color: red;
}

.validation-icon {
  position: absolute;
  top: 33px;
  left: 290px;
  width: 33px;
  height: 30px;
}

.verif-none {
  background: none;
}

.verif-true {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/check@44-fc6644e9.png) no-repeat 0 50%/22px 22px;
}

.verif-false {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/warning@44-880d626e.png) no-repeat 0 50%/22px 22px;
}

.verif-warning {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/caution@44-8452c619.png) no-repeat 0 50%/22px 22px;
}

#phone-info {
  padding: 5px 0;
  color: #444;
  font-size: 10px;
  text-align: left;
  height: 30px;
}
#phone-verification-container {
  display: none;
  position: relative;
  text-align: left;
  padding: 20px 0;
}

#phone-verification-container.visible {
  display: block;
}

#phone-verification {
  vertical-align: middle;
  display: inline-block;
  background: white;
  -webkit-appearance: none;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin-right: 8px;
  box-sizing: border-box;
}

#phone-verification:checked:after {
  content: '';
  box-sizing: border-box;
  font-size: 14px;
  position: absolute;
  top: 29px;
  left: 4px;
  border-color: #00b100;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-style: solid;
  border-width: 0 0 2px 2px;
}

#phone-verification-label {
  display: inline;
}

i {
  color: #757575;
  font-style: italic;
  font-size: 12px;
}

#phone-warning {
  color: #ea7f00;
  font-size: 12px;
  line-height: 1.2;
  text-align: left;
  margin: 5px 0;
}

#phone-error {
  text-align: left;
  color: #eb3432;
  margin: 5px 0;
  line-height: 1.2em;
  height: 20px;
}

.disp-block {
  display: block;
}

.disp-none {
  display: none;
}

#password-wrapper {
  height: 95px;
  transition: 0.8s;
}

#password-wrapper.expanded {
  height: 274px;
}

#password-wrapper.expanded.max-length {
  height: 305px;
}

#password-wrapper.expanded.validpw {
  height: 214px;
}

#password-confirmation-label {
  margin-top: 15px;
}

#password-confirmation-error {
    text-align: left;
    color: #eb3432;
    margin: 5px 0;
    line-height: 1.2em;
    height: 20px;
}

#password-lock-icon {
  position: absolute;
  top: 32px;
  left: 288px;
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/lock-left-grey@3x-a1ab5bd1.png) no-repeat 0 50%/21px 21px;
  width: 33px;
  height: 30px;
}

#password-confirmation-lock-icon {
  position: absolute;
  top: 210px;
  left: 288px;
  width: 33px;
  height: 30px;
}

#password-confirmation-lock-icon.max-length {
  top: 229px;
}

#password-confirmation-lock-icon.succeeded {
  top: 151x;
}

#password-confirmation-lock-icon.validpw {
  top: 150px;
}

#password-lock-icon.inprogress {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/lock-right-grey@3x-4624f81a.png) no-repeat 0 50%/17px 21px;
  width: 29px;
}


#password-lock-icon.fail {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/lock-fail@3x-bd28d810.png) no-repeat 0 50%/21px 21px;
  width: 33px;
}

#password-lock-icon.success {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/lock-success@3x-b1f91dfd.png) no-repeat 0 50%/17px 21px;
  width: 29px;
}

#password-hidden {
  margin-bottom: 25px;
  text-align: left;
  display: none;
  transition: 0.1s;
  line-height: 1;
}

#password-validation-success {
  color: #51aa4d;
  position: absolute;
  top: 30%;
}

#password-validation-success {
  top: 40%;
}

.password-validation {
  display: inline-block;
  height: 18px;
  padding: 2px 0;
  color: red;
  vertical-align: text-top;
  font-size: .95em;
}

.password-validation.disp-none,
#password-confirmation-error.disp-none {
  display: none;
}

.hidden {
  display: none;
}

.password-child {
  display: inline-block;
  height: 14px;
  vertical-align: top;
  padding-left: 5px;
  color: inherit;
}

.password-child.first-click {
  color: #7d7d7d;
}

.password-child.succeeded {
  color: #51aa4d;
}

#password-hidden.visible {
  visibility: visible;
  display: block;
}

#password-input {
  margin-bottom: 10px;
}

.password-validation-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/small_x_error@4x-92edf365.png) 0 0/9px 10px no-repeat;
}

.password-validation-icon.first-click {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/small_x_grey@4x-063fc46e.png) 0 0/9px 10px no-repeat;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.password-validation-icon.succeeded {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/small_check_success@3x-aeb1ee30.png) 0 0/12px 10px no-repeat;
}

#create-account {
  width: 318px;
  height: 44px;
  font-size: 15.75px;
  padding: 6px 12px;
  margin-bottom: 42px;
  border: #0077c5;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
}

#create-account-lock-img {
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);  
  height: 1em;
  width: .8em;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
  margin-right: 4px;
  background-size: contain;
}

#form-footer {
  background-color: #eceef1;
  font-size: 10px;
  color: #8d9096;
  padding: 19px 16px;
}

#sign-up-widget {
  width: 380px;
  border: 1px rgb(199, 199, 199) solid;
  margin: auto;
}

/********************** Pop-ins ****************************/
.popup {
  visibility: hidden;
}

.popup-arrow {
  display: block;
  width: 0px; 
  height: 0px; 
  position: relative;
  left: 327px;
  /* Change left and bottom position if angle is changed */
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right: 8px solid rgb(64,64,64); 
}

.popup-body {
  position: absolute;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
  left: 100%;
  width: 220px;
  top: 31px;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  background-color: rgb(64,64,64);
  line-height: 1.2;
  text-align: left;
}

#email-arrow {
  position: absolute;
  bottom: 34px;
}

#phone-wrapper {
  min-height: 115px;
}

#phone-arrow {
  position: absolute;
  bottom: 104px;
}

#password-arrow {
  bottom: 34px;
}

.rel {
  position: relative;
}

.visible {
  visibility: visible;
}

#create-account-info {
  color: #757575;
  font-style: italic;
  padding: 0 20px;
  line-height: 19px;
}

/*********************** Footer **********************/

footer {
  padding: 20px 0;
}

#footer-items li {
  display: inline-block;
  padding-top: 5px;
}

#copyright {
  color: #505050;
}



