/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My CSS */

html {
  background-color: rgb(236, 238, 241);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

/**************** Header **********************/

header {
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #505050;
    align-content: center;
}

#sign-in {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

#sign-in-nav {
  display: inherit;
  flex-direction: column;
  
}

#sign-in-btn {
  float: right;
}

button {
  background-color: rgb(0,119,197);
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(76,76,76);
  color: rgb(255,255,255);
  height: 32px;
  padding: 0 20px;
  font-size: 13.5px;
  cursor: pointer;
}
#lock-img {
  /* background-color: white; */
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.6.5/images/icon-whitelock@3x.png);
  height: 1em;
  width: .8em;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
  margin-right: 4px;
  background-size: contain;
}


#sign-in-btn {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:focus {
  outline: dotted thin;
}

a:visited {
  color: #0077C5;
  
}

li a {
  color: #505050;
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

li a:visited {
  color: #505050;
}

#intuit-name-link {
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  height: 35px;
  width: 118px;
  margin: 20px auto;
}

#footer-items > li > a:hover {
  text-decoration: underline;
}

.product {
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 100;
}

#product-listing {
  margin-bottom: 20px;
}

#product-listing li {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 23px;
  height: 23px;
  margin-right: 4px;
}

.icon:hover {
  cursor: pointer;
}

#mint-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/mint-favicon-4accf8f4.svg) no-repeat;
}

#quickbooks-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/quickbooks-favicon@2x-c89488e8.svg) no-repeat;
}

#turbotax-icon {
  background: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/tt-favicon@2x-fbd64ab8.svg) no-repeat;
}


/*********************** Form ************************/
form {
  /* width: 400px;  */
  background-color: white;
  /* border-width: 1px;
  border-color: gray;
  border-style: solid; */
  margin: 0 auto;
  /* border-bottom-width: 0; */
}

fieldset {
  display: flex;
  font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 30px;
  
}

#sign-up-create-account {
  font-size: 24px;
}

#sign-up-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: #4c4c4c;
}

#sign-up-subhed {
  font-size: 14px;
  padding-top: 20px;
}

label {
  padding-bottom: 6px;
  color: #404040;
  font-size: 14px;
  text-align: left;
}

input {
  width: 320px;
  height: 34px;
  padding: 0 6px 0 8px;
  border-radius: 3px;
  border: 1px solid #c1c5c8;
  line-height: 1.3em;
}

#email-error {
  text-align: left;
  color: #eb3432;
  margin: 5px 0;
}

#tel-info {
  padding: 5px 0;
  color: #444;
  font-size: 10px;
  text-align: left;
}

#password-error {
  height: 20px;
  margin: 5px 0;
}

#create-account {
  width: 318px;
  height: 44px;
  font-size: 15.75px;
  padding: 6px 12px;
  margin-bottom: 30px;
  border: #0077c5;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.75);
}

#create-account-lock-img {
  /* background-color: white; */
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/icon-whitelock@3x-76f33cec.png);  height: 1em;
  width: .8em;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 2px;
  margin-right: 4px;
  background-size: contain;
}

#create-account-info {

}

#form-footer {
  background-color: #eceef1;
  font-size: 10px;
  color: #8d9096;
  /* border: 1px black solid; */
  padding: 16px;
  /* width: 398px;
  border-top-width: 0;
  border-color: rgb(199, 199, 199); */
}

#sign-up-widget {
  width: 380px;
  border: 1px rgb(199, 199, 199) solid;
  margin: auto;
}

/*********************** Footer **********************/

footer {
  padding: 20px 0;
}

#footer-items li {
  display: inline-block;
}



#copyright {
  color: #505050;
}



